[Unit]
Description=CSP usage reporting
Requires=network.target
Wants=billing-data-service.service
After=network-online.target uyuni-server.service billing-data-service.service

[Service]
Type=simple
ExecStart=/usr/bin/csp-billing-adapter
Restart=always

[Install]
WantedBy=multi-user.target
